html{
    margin: 0;
    padding: 0;
}
.w-45{
    width: 45%;

}
.w-33 {
    width: 33%;

}
.w-40 {
    width: 40%;

}
.w-85{
    width: 85%;
}
.mb-more{
    margin-bottom: 5rem;
}
.fit-cont{
    height: fit-content;
}
.myh{
    height: 50vh;
}
#one{
    background-image: url(./images/grandv.jpg);
    background-size: cover;
    background-position: center center;
}
#two {
    background-image: url(./images/Laloma.jpg);
    background-size: cover;
    background-position: center center;
}
#three {
    background-image: url(./images/colonnade.jpg);
    background-size: cover;
    background-position: center center;
}
#four {
    background-image: url(./images/gate.png);
    background-size: cover;
    background-position: center center;
}

#five {
    background-image: url(./images/hors.jpg);
    background-size: cover;
    background-position: center center;
}

#six {
    background-image: url(./images/kowal.jpg);
    background-size: cover;
    background-position: center center;
}
.map{
    height: 600px;
}
/* CSS for rotating the arrow when the button is hovered */
/* CSS for rotating the arrow when the button is hovered */
.arrow-btn i {
    transition: transform 0.3s ease;
    /* Smooth transition for both hover in and hover out */
}

.arrow-btn:hover i {
    transform: rotate(-45deg);
    /* Rotate the arrow to point upwards */
}
#landingImage{
    padding: 5rem;
}
.my-radius{
    border-radius: 80px;
}
@media only screen and (max-width: 500px) {
    * {
        border: 1px solid red;
    }
    #ppl{
        display: none;
    }
    #galleryBtn{
        width: 14rem;
        padding: 1.5rem 2rem !important;
        background-color: aqua;
    }
    #landing-cont{
        padding-top: 2rem !important;
    }
}